// Color Variables

$brand-color: #2a9ed1;
$accent-color: #202a3c;
$text-color: #5e6b8b;
$title-color: #262626;
$grey: #808080;
$highlight: #32425e;
$light-grey: #e2e2e2;
$very-light-grey: #cacaca;


$links: $brand-color;
$button: $brand-color;
$border-color: #a4aab3;
$muted-color: $very-light-grey;
$hover-color: darken($brand-color, 20%);